# Build and Release Folders
bin-debug/
bin-release/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.DS_Store
.project

src/org/reporterslab/archiver/services/remote/configs/TwitterConfigs.as
